body {
  background-color: lightcoral;
  font-family: 'League Spartan', sans-serif;
}

:root {
  /*
  --theme1VeryDarkDesaturatedBlue-MainBg: hsl(222, 26%, 31%);
  --theme1VeryDarkDesaturatedBlue-ToggleKeyBg: hsl(223, 31%, 20%); 
  --theme1VeryDarkDesaturatedBlue-ScreenBg: hsl(224, 36%, 15%);
  --theme1DesaturatedDarkBlue-keyBg: hsl(225, 21%, 49%); 
  --theme1DesaturatedDarkBlue-keyShadow: hsl(224, 28%, 35%);
  --theme1Red-KeyBgToggle: hsl(6, 63%, 50%);
  --theme1DarkRed-KeyShadow: hsl(6, 70%, 34%);
  --theme1LightGrayishOrange-KeyShadow: hsl(30, 25%, 89%);
  --theme1GrayishOrange-KeyShadow: hsl(28, 16%, 65%);
  --theme1VeryDarkGrayishBlue-Text: hsl(221, 14%, 31%); 
  --theme1White-Text: hsl(0, 0%, 100%);

  --theme2LightGray-MainBg: hsl(0, 0%, 90%);
  --theme2GrayishRed-ToggleBgKeypadBg: hsl(0, 5%, 81%);
  --theme2VeryLightGray-ScreebBg: hsl(0, 0%, 93%);
  --theme2DarkModerateCyan-KeyBg: hsl(185, 42%, 37%);
  --theme2VeryDarkCyan-keyShadow: hsl(185, 58%, 25%);
  --theme2Orange-keyBgToggle: hsl(25, 98%, 40%);
  --theme2DarkOrange-keyShadow: hsl(25, 99%, 27%);
  --theme2LightGrayishYellow-keyBg: hsl(45, 7%, 89%);
  --theme2DarkGrayishOrange-keyShadow: hsl(35, 11%, 61%);
  --theme2VeryDarkGrayishYellow-Text: hsl(60, 10%, 19%);
  --theme2White-Text: hsl(0, 0%, 100%);


  --theme3VeryDarkViolet-MainBg: hsl(268, 75%, 9%);
  --theme3VeryDarkViolet-ToggleBgKeypadBgScreenBg: hsl(268, 71%, 12%);
  --theme3DarkViolet-KeyBg: hsl(281, 89%, 26%);
  --theme3VividMagenta-KeyShadow: hsl(285, 91%, 52%);
  --theme3PureCyan-KeyBgToggle: hsl(176, 100%, 44%);
  --theme3SoftCyan-KeyShadow: hsl(177, 92%, 70%);
  --theme3VeryDarkViolet-KeyBg: hsl(268, 47%, 21%);
  --theme3DarkMagenta-KeyShadow: hsl(290, 70%, 36%);
  --theme3LightYellow-Text: hsl(52, 100%, 62%);
  --theme3VeryDarkBlue-Text: hsl(198, 20%, 13%);
  --theme3White-Text: hsl(0, 0%, 100%);
  */

  color-scheme: light dark punk;
}

.header__h1 {
  background-color: var(--veryDarkDesaturatedBlue-MainBg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn-reset,
.btn-equal {
  grid-column: span 2;
}

@media (prefers-color-scheme: light) {
  .header__h1 {
    background-color: var(--lightGray-MainBg);
  }
}

